h1 {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 40px;
}

h2 {
  font-size: 28px;
  font-weight: 500;
}

p {
  font-size: 18px;
  font-weight: 400;
}

img {
  width: 170px;
  border-radius: 50%;
}

.btns {
  margin-top: 35px;
}

.btn {
  margin: 0px 15px;
  background-color: #313131;
  color: #fff;
  font-size: 19px;
  font-weight: 500;
  border: none;
  border-radius: 4px;
  padding: 6px 20px 8px 20px;
  cursor: pointer;
  transition: opacity 300ms ease;
}

.btn:hover {
  opacity: 0.85;
}
